<!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Process of a domain purchase</h2>
                    <p>When you find a domain you like, please express your interest to the seller of the said domain. 
                        (alternative: When you find a domain you like, please contact the seller of the domain).</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>
